<form [formGroup]="login" style="display: flex; flex-direction: column; width: 100%;" (ngSubmit)="logar()">
    <h3 style="text-align: center;">Faça o Login</h3>
    <app-form-field-email [formControl]="login.controls.email" ngDefaultControl></app-form-field-email>
    <app-form-field-senha [formControl]="login.controls.senha" autocomplete="current-password" ngDefaultControl></app-form-field-senha>
    <section style="display: flex; flex-direction: row; justify-content: space-between;">
        <a mat-stroked-button routerLink="/externo/cadastro">Criar Conta</a>
        <button mat-flat-button [disabled]="!login.valid" type="submit">Logar</button>
    </section>
</form>