// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Open Sans',
    plain-family: 'Open Sans',
    bold-weight: 600
  ),
));

html {
  @include mat.all-component-themes($my-theme);
  font-family: 'Open Sans', sans-serif;
}
